*.rbc
*.sassc
.sass-cache
capybara-*.html
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.powder
.powenv
.DS_Store
.rvmrc
/public/uploads/**/*
public/assets
.powrc
*.swp
/pulic/icons
/pulic/shop/**/*

bin/bundler
bin/coderay
bin/console
bin/erubis
bin/fission
bin/fog
bin/haml
bin/html2haml
bin/htmldiff
bin/launchy
bin/ldiff
bin/nokogiri
bin/puma
bin/pumactl
bin/rackup
bin/rdoc
bin/request-log-analyzer
bin/ri
bin/ruby_parse
bin/ruby_parse_extract_error
bin/sass
bin/sass-convert
bin/scss
bin/sdoc
bin/sdoc-merge
bin/sprockets
bin/thor
bin/tilt
bin/tt

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
config/setting.yml
/public/packs
/public/packs-test
/node_modules
/test
yarn-debug.log*
.yarn-integrity
.byebug_history
