// Place all the styles related to the accessory controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-box {
  max-width: 100%;
  width: 800px;
  height: 200px;
  background-color: #26a69a;
}
