.container
  .row
    .col.s12
      %h3 電子アクセサリー一覧
      %span みんなが作ったアクセサリーをみてみよう！

  .row
    - @accessories.each do |accessory|
      .col.s12.m4
        .card.z-depth-4
          .card-image
            .card-box
            %span.card-title
              = accessory.title
            %a.btn-floating.halfway-fab.waves-effect.waves-light.teal.accent-3
              %i.material-icons star
          .card-content
            %p= accessory.description
          .card-action
            =link_to 'レシピをみる', accessory_path(accessory)
